#no-mobile {
  background-color: var(--green);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 375px) {
  #no-mobile {
    display: none;
  }
}
